# Project
/tmp
/var
/vendor
*_generated.go
*.out

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Certs
/certs/*.crt
/certs/*.csr
/certs/*.key
/certs/*.pem
/certs/*.srl
